.Hero{
    .HeroContainer{
    max-width: 300px;
    // background-image: url("/images/clipboard.jpg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    
    margin: auto;
    }
}
