.Hero{

    width: 480px;
    height: 710px;
    margin-top: 90px;
    margin-left: 100px;
    background-image: url("/images/clipboard.png");
    background-size: cover;
    padding-top: 140px;

    .HeroContainer{
        
        margin-left: 20px;
        margin-right: 20px;

        h1{
            display: flex;
            justify-content: center;
        }
        
    
        
    }
}
